openapi: 3.1.0
info:
  title: Climate FieldView Platform Application API
  description: Climate FieldView (a Bayer product) provides a digital agriculture platform for field-level agronomic data including planting maps, soil sampling, yield data, and weather overlays. The REST API uses OAuth 2.0 for authentication with access tokens issued via authorization code grant. APIs enable access to field boundaries, as-planted and as-harvested layers, soil sample results, and agronomic recommendations.
  version: 4.0.0
  contact:
    name: FieldView Developer Support
    url: https://dev.fieldview.com/
  license:
    name: Climate Corporation Terms of Service
    url: https://climate.com/en-us/legal/terms-of-service.html
servers:
- url: https://api.climate.com/api
  description: Climate FieldView Production API
security:
- oauth2: []
tags:
- name: Application
  description: As-applied agrochemical data
paths:
  /v4/layers/asApplied:
    get:
      operationId: listAsAppliedLayers
      summary: List as-applied agrochemical layers
      description: Returns all as-applied layers (fertilizer, pesticide, and herbicide application records).
      tags:
      - Application
      parameters:
      - name: fieldId
        in: query
        schema:
          type: string
          format: uuid
      - name: occurredAfter
        in: query
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: List of as-applied layers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerList'
components:
  schemas:
    LayerList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/LayerSummary'
        total:
          type: integer
        hasMore:
          type: boolean
    LayerSummary:
      type: object
      properties:
        id:
          type: string
        fieldIds:
          type: array
          items:
            type: string
            format: uuid
        occurredOn:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization for Climate FieldView API
      flows:
        authorizationCode:
          authorizationUrl: https://api.climate.com/api/oauth/authorize
          tokenUrl: https://api.climate.com/api/oauth/token
          scopes:
            fields:read: Read field boundaries and metadata
            layers:read: Read activity layer data
            layers:write: Upload activity layer data
            soilsampling:read: Read soil sampling results
            imagery:read: Read satellite imagery layers
